{% extends "layout.html" %}
{% block title %}Add Item{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h2>
  	Add Item to Menu of {{restaurant.name}}: 
  </h2>
  <h4>
  	<a href="/restaurant"> Home </a>
    <a href="/restaurant/{{ restaurant.id }}/menu"> | Menu </a>
  </h4>
  <form method="post">
    <table>
    <tr><td>Name:</td><td><input type=text name=item_name></td></tr>
    <tr><td>Course</td><td><input type=text name=item_course></td></tr>
    <tr><td>Price:</td><td><input type=text name=item_price></td></tr>
    <tr><td>Description:</td><td><input type=text name=item_description></td></tr>
    </table>
    <input type=submit value=Accept>
  </form>
{% endblock %}