{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h3><a href="/restaurant/add">Add Restaurant</a></h3>
  <table>
    <tr>
    <th>Name</th>
    <th>Menu</th>
    {% if verified == True %}
        <th>Edit</th>
        <th>Delete</th>
    {% endif %}
    </tr>
    {% for restaurant in restaurants %}
        <tr>
        <td>{{ restaurant.name }}</td>
        <td><a href="/restaurant/{{ restaurant.id }}/menu">Menu</a></td>
        {% if verified == True %}
            <td><a href="/restaurant/{{ restaurant.id }}/edit">Edit</a></td>
            <td><a href="/restaurant/{{ restaurant.id }}/delete">Delete</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </table>
    <br>
{% endblock %}