{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <div>
      {}
    </div>
    <div>
      <h4>Server Client ID: {{login_session.get("oauth_client_id")}}</h4>
      <h4>Server State Token: {{login_session.get("state")}}</h4>
      <h4>Server Has: Access Token: {{login_session.get("access_token")}} </h4>
      <h4>Server Has: Name: {{login_session.get("username")}}</h4>
      <h4>Server Has: Image URL: {{login_session.get("picture")}}</h4>
      <h4><img src='{{login_session.get("picture")}}'></h4>
      <h4>Server Has: Email: {{login_session.get("email")}}</h4>
    </div>
  </div>
{% endblock %}