{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div>
    <div>
      <h4>Server Client ID: </h4>
      <div>{{login_session.get("oauth_client_id")}}</div>
      <h4>Server State Token: </h4>
      <div>{{login_session.get("state")}}</div>
      <h4>Server Has Access Token: </h4>
      <div>{{login_session.get("access_token")}}</div> 
      <h4>Server Has: Name: </h4>
      <div>{{login_session.get("username")}}</div>
      <h4>Server Has: Image URL: </h4>
      <div>
        {{login_session.get("picture")}}
        {% if login_session.get("picture") %}
          <img src='{{login_session.get("picture")}}'>
        {% endif %}
      </div>
      <h4>Server Has Email:</h4>
      <div>{{login_session.get("email")}}</div>
    </div>
  </div>
{% endblock %}